body{
    margin: 0;
    padding: 0;
}

#bg_video{
    position: fixed;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
}


.wrapper{
    
}

.up_bg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;

    .up_bg__row{
        display: flex;
        height: 100%;
        width: 20%;
        flex-direction: column;
        .up_bg__collum{
            display: flex;
            width: 100%;
            height: 100%;
            background: black;
            // animation: animationBg 1s linear;
            flex-direction: column;
            transition:0s;
        }
    }
}
.transparent{
    background-color:transparent !important;
}

.content{
    color: white;
    font-size: 80px;
    z-index: 4;
    position: relative;
    pointer-events:none;
}



